<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ida:ClientId" value="98897f0d-b5d5-4161-920a-df2ecd8af582" />
    <add key="ida:ClientSecret" value=")F.!G}7{z![(@jMO([2zGKJ(}c%)gaX%[}ncb?*%+#" />
    <add key="ida:Audience" value="api://98897f0d-b5d5-4161-920a-df2ecd8af582" />
    <add key="ida:aadInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:tenant" value="70f54125-3ec9-4053-a389-db0cf22f4530" />
    <add key="ida:postLogoutRedirectUri" value="https://localhost:88/" />
    <add key="ida:serviceResourceID" value="https://tektanium.com/Precastcorp.SPListUpdate.Framework.API" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>